
h1{
  color: darkgreen;
  font-family: "Times New Roman", Georgia, Serif;
  line-height: 1.3em;
}

body{
	border: 10px double black;
	padding: 10px;
	background-color: rgb(197,225,153);
}
h2{
  color: black;
  font-family: "Times New Roman", Georgia, Serif;
  line-height: 0.5em;
}

.image-button {
  width: 100px;
  height: 50px;
  border: none;
  background-image: url('path/to/image.jpg');
  background-size: cover;
}

.parent {
  display: flex;
  justify-content: center;
}
