
h1{
  color: darkgreen;
  font-family: "Times New Roman", Georgia, Serif;
  line-height: 1.3em;
}

body{
	border: 20px dotted green;
	padding: 20px;
	background-color: rgb(143,188,143);
}


.image-button {
  width: 100px;
  height: 50px;
  border: none;
  background-image: url('path/to/image.jpg');
  background-size: cover;
}

.parent {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}
